

<h1>Artículos del periódico</h1>


<button (click)="callPublish(0)">Publicar artículo 1</button>
<button (click)="callReview(0)">Revisar artículo 1</button>
<button (click)="callDelete(0)">Eliminar artículo 1</button>

<button (click)="callPublish(1)">Publicar artículo 2</button>
<button (click)="callReview(1)">Revisar artículo 2</button>
<button (click)="callDelete(1)">Eliminar artículo 2</button>

<button (click)="callPublish(2)">Publicar artículo 3</button>
<button (click)="callReview(2)">Revisar artículo 3</button>
<button (click)="callDelete(2)">Eliminar artículo 3</button>